.page {
  margin: 20px;
  padding: 0 20px;
  width: calc(100% - 80px);
  border-radius: 12px;
  min-height: calc(100vh - 42px);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  background: rgba(0, 0, 0, 0.45);
  color: white;
}

.title {
  color: white;
}

.inviteLink {
  color: #8151fc;
  font-weight: bold;
  overflow-wrap: anywhere;
}

.regenerateInviteLink {
  color: #ffffff;
  font-weight: bold;
  border: none;
  background-color: #8151fc;
  border-radius: 1em;
  font-weight: bold;
  display: block;
  font-size: 16px;
  padding: 5px 20px;
  cursor: pointer;
}

.deleteGroup {
  color: #ffffff;
  font-weight: bold;
  border: none;
  background-color: #fc5151;
  border-radius: 1em;
  font-weight: bold;
  display: block;
  font-size: 16px;
  padding: 5px 20px;
  cursor: pointer;
}

.linkIcon {
  cursor: pointer;
  width: 27px;
  background-color: #ffffff;
  border-radius: 2em;
  padding: 5px;
  color: #8151fc;
}

.back {
  cursor: pointer;
  width: 40px;
  margin-right: 20px;
  transition: 0.2s;
}

.back:hover {
  color: #8151fc;
}

.channels {
  display: flex;
  flex-direction: column;
  width: fit-content;
}

.channelContainer {
  display: flex;
  align-items: center;
  background-color: rgba(128, 128, 128, 0.333);
  padding: 5px 15px;
  border-radius: 2em;
  margin: 10px 0;
  gap: 15px;
}

.channelContainer > div {
  display: flex;
}

.channelButtons {
  margin-left: auto;
}

.channelContainer p {
  margin: 0;
}

.channelName {
  margin-right: auto !important;
}

.channelContainer svg {
  width: 20px;
  cursor: pointer;
  transition: 0.2s;
}

.channelContainer svg:hover {
  color: var(--secondary);
}

.removeChannelIcon {
  color: rgb(255, 100, 100);
}

.removeChannelIcon:hover {
  color: red;
}

@media screen and (max-width: 800px) {
  .channels {
    width: 100%;
  }
  .channelContainer {
    width: calc(100% - 30px);
    border-radius: var(--border-radius);
    flex-direction: column;
  }
  .channelContainer svg {
    margin-left: 0;
  }
  .channelContainer > div {
    gap: 10px;
  }
  .channelButtons {
    margin-left: 0;
  }
}
