.line {
  display: flex;
}

.line input {
  margin-right: 10px;
}

.illustrationContainer {
  max-width: 100%;
}

.illustrationContainer img {
  max-width: 100%;
  border-radius: 1em;
  margin: 10px 0;
}
