.background {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(37deg, rgb(0, 161, 232) 0%, #8151fc 100%);
  background-size: cover;
  transition: background-image 0.2s ease-in-out;
}
.background::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  backdrop-filter: blur(100px);
}

.page {
  margin: 20px 0 20px 100px;
  padding: 0 20px;
  width: calc(100% - 160px);
  border-radius: 12px;
  min-height: calc(100vh - 42px);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  background: rgba(0, 0, 0, 0.45);
}

.title {
  font-weight: bold;
  width: fit-content;
  color: rgb(255, 255, 255);
}

.navbar {
  width: 88px;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  overflow-y: overlay;
  overflow-x: hidden;
  background: rgba(0, 0, 0, 0.45);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  padding: 0;
  scrollbar-width: thin;
}

.navbar::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

.navbar .guildIcon {
  width: 60px;
  height: 60px;
  border-radius: 2em;
  transition: 0.4s;
  margin-top: 5px;
  position: relative;
}

.navbar .navGuild {
  cursor: pointer;
  display: block;
  margin-left: 4px;
  width: fit-content;
  position: relative;
  transform: translateX(5px);
}

.navbar .navGuild:hover .guildIcon {
  border-radius: 1.2em;
}

.navbar .navGuild::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -4px;
  width: 8px;
  height: 0;
  transform: translateY(-50%) translateX(-100%);
  z-index: 10;
  transition: 0.4s;
  background: white;
  border-radius: 1em;
  opacity: 0;
}

.navbar .navGuild:hover::before {
  height: 50%;
  opacity: 1;
}

.navbar .navGuild.selected::before {
  content: "";
  position: absolute;
  height: 80%;
  border-radius: 40px;
  opacity: 1;
}

.navbar .navGuild.selected img {
  border-radius: 1.2em;
}

.navbar .placeHolder {
  background: linear-gradient(37deg, rgb(177, 177, 177) 0%, #bea5ff 100%);
}

.button {
  background: linear-gradient(37deg, rgb(0, 161, 232) 0%, #8151fc 100%);
  border: none;
  color: white;
  padding: 10px 20px 10px 60px;
  border-radius: 4px;
  font-weight: bold;
  font-size: 14px;
  cursor: pointer;
  position: relative;
  transition: 0.4s;
  width: 100%;
  max-width: 400px;
  display: block;
  text-align: center;
}

.button strong,
.button svg {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  padding: 10px;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 161, 232);
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  width: 25px;
}

.button.buyButton.done {
  background: linear-gradient(37deg, rgb(0, 161, 232) 0%, #8151fc 50%);
}

.button svg {
  padding: 5px 10px;
}

.inviteBot {
  width: 100% !important;
  max-width: 400px !important;
}

.emptyGroupContainer {
  width: calc(100% - 1em);
  border: dotted 4px rgba(255, 255, 255, 0.216);
  padding: 1em 0.5em;
}

.emptyGroupContainer h2 {
  text-align: center;
  color: rgba(255, 255, 255, 0.216);
}

.groupContainer {
  width: 100%;
  margin: 0 0 1em 0;
}

.groupContainer h2 {
  width: 100%;
  margin: 0 0 0.5em 0;
}

.groupContainer .group {
  width: calc(100% - 2em);
  display: block;
  background-color: rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  color: rgb(180, 180, 180);
  padding: 0.5em 1em;
  cursor: pointer;
  margin: 0.4em 0;
  transition: transform 0.2s ease, background-color 0.2s ease;
  animation: in 0.2s ease;
}

.groupContainer .group:hover {
  background-color: rgba(0, 0, 0, 0.45);
}

@keyframes in {
  0% {
    transform: translateX(-20px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.section p {
  color: white;
}

.progress {
  width: 100%;
}

@media screen and (max-width: 550px) {
  .page {
    margin: 0 0 0 60px;
    position: absolute;
    padding: 0 20px;
    width: calc(100% - 100px);
    border-radius: 0;
    border: none;
    min-height: 100%;
  }

  .navbar {
    width: 60px;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    overflow-y: overlay;
    overflow-x: hidden;
    background: rgba(0, 0, 0, 0.45);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border: 1px solid rgba(255, 255, 255, 0.18);
  }

  .navbar .guildIcon {
    width: 40px;
    height: 40px;
  }

  .navbar .navGuild::before {
    content: "";
    position: absolute;
    top: 50%;
    left: -5px;
    width: 10px;
    height: 8px;
    transform: translateY(-50%) translateX(-100%);
    transition: 0.4s;
    background: white;
    border-radius: 1em;
    z-index: 10;
    opacity: 0;
  }
}
