.page {
  padding: 90px 60px 10px 0;
}

.title {
  background: linear-gradient(
    37deg,
    rgb(0, 161, 232) 0%,
    rgb(128, 244, 192) 100%
  );
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 3rem;
  margin-left: 25px;
}

.subtitle {
  font-size: 1.7rem;
  color: rgb(82, 82, 82);
}

.section {
  padding: 0 0 0 35px;
  position: relative;
}

.section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 12px;
  height: 100%;
  width: 4px;
  background: rgb(219, 219, 219);
}

.imageContainer {
  position: relative;
  width: 100%;
  aspect-ratio: 795/601;
  max-width: 600px;
}

.strong {
  color: rgb(0, 161, 232);
}
