.page {
  margin: 20px;
  padding: 25px 20px 0 20px;
  width: calc(100% - 80px);
  border-radius: 12px;
  min-height: calc(100vh - 65px);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  background: rgba(0, 0, 0, 0.45);
  color: white;
}

.title {
  text-align: center;
  margin-bottom: 50px;
}

.subtitle {
  color: #d9d7e6;
}

.navGuild p {
  text-align: center;
}

.guildIcon {
  width: 96px;
  border-radius: 1em;
}

.guilds {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
  gap: 25px;
}

.navGuild {
  cursor: pointer;
  margin-left: 25px;
  margin-right: 25px;
  transition: 0.2s;
}

.guilds .navGuild:hover {
  transform: scale(1.1);
}

.selectGuildContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - 65px);
  margin: 1rem 0;
}

.helpButton {
  color: #ffffff;
  font-weight: bold;
  border: none;
  background-color: #8151fc;
  border-radius: 1em;
  font-weight: bold;
  display: block;
  font-size: 16px;
  padding: 5px 20px;
  cursor: pointer;
  position: absolute;
  left: 15px;
  top: 15px;
  max-width: calc(100% - 30px);
}

.addOraxButton {
  color: #ffffff;
  font-weight: bold;
  border: none;
  background-color: rgb(0, 161, 232);
  border-radius: 1em;
  font-weight: bold;
  display: block;
  font-size: 16px;
  padding: 10px 20px;
  cursor: pointer;
  position: absolute;
  max-width: calc(100% - 30px);
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.buttonContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - 65px);
}

.channelButton {
  color: #ffffff;
  font-weight: bold;
  border: none;
  background-color: rgb(0, 161, 232);
  border-radius: 1em;
  font-weight: bold;
  display: block;
  font-size: 16px;
  padding: 5px 20px;
  cursor: pointer;
  margin: 20px;
}
